.card-img-top {
    height: 85px;
    object-fit: cover;
    object-position: bottom;
}

.question {
    height: 50px;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card-letter {
    background-color: rgb(214,214,214);
    width: 50px;
    height: 50px;
}

.quiz-answer-card {
    background-color: rgb(255, 255, 255);
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.quiz-start-page {
    background-image: url(./img/brainbg.jpg);
    background-position: center;
    background-size: cover;
}

.quiz-nav-link {
    color: rgb(147, 158, 187);
    border-left: 5px solid rgb(39, 53, 92);
    cursor: pointer;
}

.quiz-nav-link:hover {
    color: rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
}

.quiz-nav-link:active {
    color: rgb(147, 158, 187);
    border-left: 5px solid rgb(147, 158, 187);
}

.active-theme {
    color: rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
}

.start-button:hover {
    background-color: rgb(255, 88, 10);
}

.start-button:active {
    background-color: rgb(252,130,112);
}

.quiz-nav-logo,
.quiz-start-page,
.quiz-end-screen,
.question-body {
    min-height: 450px;
}